* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background:
  url("https://cdn.pixabay.com/photo/2020/03/10/23/10/orchid-4920533_1280.jpg")    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
